// $color-blur: ''

.my-button {
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  width: auto;

  &.is-block {
    width: 100%;
  }

  // color
  &-blue {
    background-color: #1890ff;
    color: #fff;
  }
  &-secondary {
    background-color: #fff;
    color: #1890ff;
  }
}
